# Intellij
.idea/
*.iml
*.iws
*.ipr
*.jar
 
# Mac
.DS_Store
out/
common/out/
calcite-adapter/out/
# Maven
log/
target/

# Gradle
.gradle
build/

# Package Files
*.jar
*.war
*.ear

# LICENSE and NOTICE
/src/main/resources/LICENSE
/src/main/resources/NOTICE
# Generated
/src/main/resources/project.properties

