# Copyright <2020> Amazon.com, Inc. or its affiliates. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License").
# You may not use this file except in compliance with the License.
# A copy of the License is located at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# or in the "license" file accompanying this file. This file is distributed
# on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
# express or implied. See the License for the specific language governing
# permissions and limitations under the License.

name: Amazon DocumentDB JDBC Driver

on:
  # Trigger the workflow on pull request,
  # but only for the master/develop branches
  pull_request:
    branches:
      - master
      - develop
  # Trigger on-demand
  workflow_dispatch:
    inputs:
      testWithoutDocumnetDb:
        description: Test without DocumentDB? (1/0)
        required: false
        default: '1'

jobs:
  build:
    env:
      DOC_DB_KEYPAIR: ${{secrets.DOC_DB_KEYPAIR}}
      TRUSTSTORE_PASSWORD: ${{secrets.TRUSTSTORE_PASSWORD}}
      DOC_DB_USER_NAME: ${{secrets.DOC_DB_USER_NAME}}
      DOC_DB_PASSWORD: ${{secrets.DOC_DB_PASSWORD}}
      OMIT_DOCUMENTDB: ${{ github.event.inputs.testWithoutDocumnetDb || '0' }}
      RUN_REMOTE_INTEGRATION_TESTS: ${{ github.event.inputs.testWithoutDocumnetDb && 'false' || 'true' }}
      DOC_DB_LOCAL_PORT: 27019
      DOC_DB_REMOTE_PORT: 27017

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.ref }}
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Extract key-pair into file
      if: ${{ env.OMIT_DOCUMENTDB == '0' }}
      run: |
        mkdir -p ~/certs
        echo "$DOC_DB_KEYPAIR" > ~/certs/docdb-sshtunnel.pem
        chmod 400 ~/certs/docdb-sshtunnel.pem
    - name: Run SSH tunnel to DocumentDB server
      if: ${{ env.OMIT_DOCUMENTDB == '0' }}
      run: |
        ssh -f -N -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -i ~/certs/docdb-sshtunnel.pem -L $DOC_DB_LOCAL_PORT:${{secrets.DOC_DB_HOST}}:$DOC_DB_REMOTE_PORT ${{secrets.DOC_DB_USER}}
    - name: Add Amazon CA certificates to global keystore
      if: ${{ env.OMIT_DOCUMENTDB == '0' }}
      run: |
        chmod +x config/certs/import_aws_ca_certs.sh
        config/certs/import_aws_ca_certs.sh
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle with local and optional remote DocumentDB tests
      run: |
        ./gradlew build -PrunRemoteIntegrationTests=$RUN_REMOTE_INTEGRATION_TESTS
    - name: Aggregate Reports
      run: |
        cp -R common/build/test-results/test/* build/test-results/test
        cp -R calcite-adapter/build/test-results/test/* build/test-results/test
        ed common/build/reports/jacoco/test/jacocoTestReport.csv <<< $'1d\nw\nq'
        ed calcite-adapter/build/reports/jacoco/test/jacocoTestReport.csv <<< $'1d\nw\nq'
        cat build/reports/jacoco/test/jacocoTestReport.csv common/build/reports/jacoco/test/jacocoTestReport.csv calcite-adapter/build/reports/jacoco/test/jacocoTestReport.csv > build/reports/jacoco/test/jacoco.csv
    - name: Copy Build
      run: |
        mkdir output
        mkdir output/jarfile
        mkdir output/reports
        cp build/libs/*.jar output/jarfile
        cp -R build/reports output/reports
    - name: Upload Build
      uses: actions/upload-artifact@v1
      with:
        name: output
        path: output
    - name: Publish Summary Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1.9
      if: always()
      with:
        files: build/test-results/**/*.xml
    - name: Publish Detailed Test Report
      if: always()
      uses: scacap/action-surefire-report@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        report_paths: '**/build/test-results/test/TEST-*.xml'
    - name: Generate JaCoCo Badge
      id: jacoco
      uses: cicirello/jacoco-badge-generator@v2.0.1
      with:
        jacoco-csv-file: 'build/reports/jacoco/test/jacoco.csv'
        generate-branches-badge: true
    - name: Commit Coverage Badge
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_options: '--allow-empty --no-verify'
        commit_message: Commit Code Coverage Badge
        file_pattern: '*.svg'
        skip_fetch: true
        skip_dirty_check: true
#      run: |
#        echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
#        echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"
#    - name: Commit the badge (if it changed)
#      run: |
#        if [[ `git status --porcelain` ]]; then
#          git config user.name 'github-actions'
#          git config user.email 'github-actions@github.com'
#          git add .github/badges/branches.svg
#          git add .github/badges/jacoco.svg
#          git commit -m "Autogenerated JaCoCo coverage badge"
#          git push
#        fi
    - name: Upload JaCoCo coverage report
      uses: actions/upload-artifact@v2
      with:
        name: jacoco-report
        path: build/reports/jacoco/
